@model Bloggie.Web.Models.ViewModels.UserViewModel

<h1>Profile</h1>

<form asp-action="Update">
    <input asp-for="Username" />
    <input asp-for="Email" />
    <button type="submit">Update</button>
</form>

<form asp-action="ChangePassword">
    <input asp-for="Password" type="password" placeholder="New Password" />
    <button type="submit">Change Password</button>
</form>

<form asp-action="Delete" method="post">
    <button type="submit">Delete Account</button>
</form>
